information-bar {
    .info-bar{
        background-color: map-get($colors, fuxia);
        width: 100%;
    }

    .regular-padding{
        padding: 16px;
    }

    .iphoneXpadding{
       padding: 40px 16px 16px 16px;
    }
    
    .nickname-wrapper{
        background-color: gray;
        width: 90%;
        padding: 2.8%;
        text-align: center;
        color: white;
        border-radius: 15px;
        font-size: 4vw;
    }
}
