information-bar {
    .info-bar{
        background-color: map-get($colors, fuxia);
    }

    .info-wrapper{
        position: relative;
        background-color: gray;
        width: 90%;
        height: 100%;
        padding-bottom: 2%;
        padding-top: 2%;
        color: white;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        height: 3.5vh;
        
    }
    
    .data-container{
        position: absolute;
        width: 100%;
        text-align: center;
    }
}
