<ion-grid class="info-bar"  no-padding>
  <!--<ion-row [class.regular-padding]="!iphonex"
  [class.iphoneXpadding]="iphonex">-->
  <ion-row class="regular-padding">
    <ion-col  col-5>
      <div class="nickname-wrapper">
        {{nickname}}
      </div>
    </ion-col>
    <ion-col>     
      <coin-eola-container [currencyIcon]="coinIconUrl" [currencyAmmnt]="coins"></coin-eola-container>
    </ion-col>
    <ion-col>     
        <coin-eola-container [currencyIcon]="eolaIconUrl" [currencyAmmnt]="eolas"></coin-eola-container>
      </ion-col>
  </ion-row>
</ion-grid>