information-bar {
    .info-bar{
        background-color: map-get($colors, fuxia);
    }
    
    .nickname-wrapper{
        background-color: gray;
        width: 90%;
        padding: 2px;
        text-align: center;
        color: white;
        border-radius: 15px;
    }
}
