<ion-content class="bg-page">
  <div class="up-spacer"></div>
  <ion-grid class="loginContainer">
    <ion-row id="up-spacer-row"></ion-row>
    <form [formGroup]="loginForm" style="height: 100%;" (ngSubmit)="onSubmitLogin($event)">

    <ion-row class="form-row">
      <ion-col class="label-col">
        <ion-label no-margin>
          Username:
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="form-row">
      <input style="width: 100%" class="ion-item-input" type="text" formControlName="username" value=""/>
    </ion-row>
    <ion-row class="error-msj-row">
      <p *ngIf="falToLogin" class="error-msj" text-center>Username or password is wrong!</p>
      <p  *ngIf="falToLogin" class="error-msj" text-center>Having troubles? <a class="ma-link">MANAGE ACCOUT</a></p>
    </ion-row>
    <ion-row class="form-row">
      <ion-col class="label-col">
        <ion-label no-margin>
          Password:
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="form-row">
      <input style="width: 100%" class="ion-item-input" type="password" formControlName="password" value=""/>
    </ion-row>
    <ion-row class="error-msj-row"><p *ngIf="falToLogin" class="error-msj" text-center>wrong password</p></ion-row>
    <ion-row class="buttons-row">
      <ion-col class="button-coll">
        <button round ion-button
        style="font-size: 3vh;" 
        color="skip" 
        class="borderSkip" 
        (click)="toMainMenuPage()">Skip</button>
        <button 
        style="font-size: 3vh;"
        round 
        ion-button
        class="borderLogin" [disabled]="!loginForm.valid">Login</button>
      </ion-col>
    </ion-row>
    <ion-row style="height: 5%;"></ion-row>
    <ion-row style="height: 5%; justify-content: center">
        <p no-margin style="font-size: 4vw;font-weight: bold;">Don't Have a Virtual Robot Account?</p>
      </ion-row>
      <ion-row class="buttons-row">
        <ion-col class="button-coll">
          <button style="height: 100%;" ion-button
          style="font-size: 3vh;" 
          round 
          color="gold"
          class="borderCreate" 
          (click)="toCreateAccountPage()" >Create Account</button>
        </ion-col>
      </ion-row>

    </form>
    <ion-row></ion-row>
  </ion-grid>
</ion-content>
