page-login {
    .bg-page{
        background:map-get($colors, loginAndCreateBackground);
        margin: 0;
        padding: 0;
    }
    .up-spacer{
        width: 100%;
        height: 5%;
        display: block;
    }
    .loginContainer {
        border-radius: 25px;
        background: #e9ead0;
        border: 5px solid rgb(213, 6, 231);
        padding: 20px;
        width: 85%;
        height: 90%;  
        margin: auto;
        padding: 0;
    }
    
    #up-spacer-row{
        height: 5%;
    }

    .form-row{
        height: 8%;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 5%;
        padding-right: 5%;

    }

    .label-col{
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .input-col{
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
    }

    .buttons-row{
        height: 15%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .error-msj-row{
        height: 10%; 
        justify-content: center;
    }

    .error-msj{
        margin: 0;
        color: red;
        font-size: 4.5vw;
        font-weight: bold;
    }

    .ma-link{
        color: red;
        text-decoration: underline;
    }
    

    .button-coll{
        margin: 0;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .item{
        background-color: #e9ead0;
    }

    ion-label{
        height: 100%;
        font-weight: bold;
        font-size: 6vw;
        padding-top: 2.5%;

    }

    .borderSkip{
        border: 3px solid map-get($colors, skipBorder);
        width: 30%;
        height: 70%;
    }

    .borderCreate{
        border: 3px solid map-get($colors, createBorder);
        width: 80%;
        height: 85%;
    }

    .borderLogin{
        border: 3px solid map-get($colors, loginBorder);
        width: 50%;
        height: 90%;
    }
}
