<!-- Generated template for the TimerBarComponent component -->

  <ion-grid no-padding class="timeBarDiv" >
    <ion-row >

      <ion-col col-2 class="flex-col">
        <div class="roudnArea" text-center>
          <h2>{{currentRound}}</h2>
        </div>
      </ion-col>

      <ion-col col-8>

      </ion-col>

      <ion-col align-self-start col-2>
        <button ion-button icon-only clear outline color="light"><ion-icon name="settings"></ion-icon></button>
      </ion-col>

    </ion-row>
  </ion-grid>

