timer-bar {
    .timeBarDiv{
        background-color: map-get($colors ,skip);
        width: 100%;
        border-radius: 15px;
    }

    .roudnArea{
        background-color: #FFF;
        width: 70%;
        height: 70%;
        border-radius: 12px;
        border: 2px solid red;
    }

    .flex-col{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2{
        padding-top: 15%;
        vertical-align: middle;
        color: fuchsia;
    }

}
