<ion-grid no-padding>
  <!--titulo-->
  <ion-row>
    <ion-col col-2></ion-col>
    <ion-col col-8 text-center>
      <h1 class="side-menu-title">Important Information</h1>
    </ion-col>
    <ion-col col-2></ion-col>
  </ion-row>
  <!--botones-->
  <br>
  <br>
  <br>
  <ion-row>
    <ion-col col-1></ion-col>
    <ion-col col-10 text-center>
      <button class="borderInfButtons" color="emerald" ion-button round block>Privacy Policy</button>
    </ion-col>
    <ion-col col-1></ion-col>
  </ion-row>
  <br>
  <br>
  <br>
  <br>
  <ion-row>
    <ion-col col-1></ion-col>
    <ion-col col-10 text-center>
      <button class="borderInfButtons" color="emerald" ion-button round block>User Agreement</button>
    </ion-col>
    <ion-col col-1></ion-col>
  </ion-row>
  <br>
  <br>
  <br>
  <br>
  <ion-row>
    <ion-col col-1></ion-col>
    <ion-col col-10 text-center>
      <button class="borderInfButtons" color="emerald" ion-button round block>Health and Safety Information</button>
    </ion-col>
    <ion-col col-1></ion-col>
  </ion-row>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-row>
    <ion-col text-center>
      ACA VA LOGO DE VR!
    </ion-col>
  </ion-row>
  <!--VR logo-->
</ion-grid>