ranking-statistics {
    .topIcon{
        size: 50px;
    }
    
    .statics-container{
        background-color: #edeeef;
        border: solid thin black;
        border-radius: 12px;
        height: 100px;
    }
}
