
<ion-grid  class="ranking-sidepage">
  <ion-row class="title-row">
    <ion-col class="flex-col">
      <h1 no-margin class="side-menu-title">Ranking</h1>
    </ion-col>
  </ion-row>
  <ion-row class="top-rank-row">
    <ion-col class="top-rank-col flex-col">
      <img width="50%" height="90%" src="assets/imgs/medal-icon.png" />
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 *ngFor="let ulr of rankingUris; let i = index">
      <img width="80vw" height="80vh" src="{{rankingUris[i]}}" />
    </ion-col>
  </ion-row>
  <ion-row class="spacer-row"></ion-row>
  <ion-row>
    <ion-col col-12>
      <div class="statics-container">
        <ion-grid>
          <ion-row>
            <ion-col text-center id="rank-info">Ranking Name</ion-col>
            <ion-col text-center id="rank-info"># Games Won</ion-col>
          </ion-row>
          <ion-row style="padding-top: 10px">
            <ion-col text-center no-padding id="rank-info">Ranking Description and Benefits</ion-col>
          </ion-row>   
        </ion-grid>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>