<ion-grid>
  <ion-row>
    <ion-col col-3></ion-col>
    <ion-col text-center>
      <h1 class="side-menu-title">User Account</h1>
    </ion-col>
    <ion-col col-3></ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-3></ion-col>
      <ion-col text-center>
          <ion-thumbnail>
            <img src="{{profileImgUlr}}"/>
          </ion-thumbnail>
      </ion-col>
      <ion-col col-3></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-1></ion-col>
    <ion-col><coin-eola-container [currencyIcon]="coinIconUrl" [currencyAmmnt]="coins"></coin-eola-container></ion-col>
    <ion-col><coin-eola-container [currencyIcon]="eolaIconUrl" [currencyAmmnt]="eolas"></coin-eola-container></ion-col>
    <ion-col col-1></ion-col>
  </ion-row>
  <ion-row></ion-row>
  <ion-row></ion-row>
  <ion-row></ion-row>
</ion-grid>