user-account {
    
    .user-acc-sidepage{
        width: 100%;
        height: 100%;
    }

    .profile-pic-row{
        height: 20%;
    }

    .currency-row{
        height: 10%;
    }

    .currency-col{
        height: 100%;
        padding-top: 6%;
        padding-left: 5%;
    }

    .token-ranking-row{
        height: 20%;
    }

    .token-ranking-col{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info-row{
        height: 30%;
    }
    .info-col{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .username-input{
        font-weight: bold;
    }


}
