page-contacts {
    .avatar-wrapper{
        border-radius: 50%;
        border: solid 2px green;
    }
    .avatar{
        border-radius: 50%;
    }

    .contact-list{
        height: 100%;
        overflow-y: scroll;
    }

    .footer-btns{
        width: 100%;
        display: flex;
        direction: row;
        margin: 0;
        justify-content: space-between;
        align-content: center;
    }

    .btn-footer-h{
        height: 98%;
    }
}
