<ion-grid class="borderGrid" no-padding>
    <ion-row>
        <ion-col id="oo" col-3 no-padding>
            <ion-thumbnail id="choicecell" [dragula]='"bag"' [dragulaOptions]="options"> 
                <img src="assets/imgs/enojado.png">
            </ion-thumbnail>
        </ion-col>
        <ion-col id="oi" col-3 no-padding>
            <ion-thumbnail id="choicecell" [dragula]='"bag"' [dragulaOptions]="options">
                <img src="assets/imgs/cansado.png">
            </ion-thumbnail></ion-col>
        <ion-col id="oii" col-3 no-padding>
            <ion-thumbnail id="choicecell" [dragula]='"bag"' [dragulaOptions]="options">
                <img src="assets/imgs/enamorado.png">
            </ion-thumbnail>
        </ion-col>
        <ion-col id="oiii" col-3 no-padding>
            <ion-thumbnail id="choicecell" [dragula]='"bag"' [dragulaOptions]="options">
                <img src="assets/imgs/escondido.png">
            </ion-thumbnail>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-3 no-padding>
            <ion-thumbnail id="choicecell" [dragula]='"bag"' [dragulaOptions]="options">
                <img src="assets/imgs/like.png">
            </ion-thumbnail>
        </ion-col>
        <ion-col id="ioi" col-3 no-padding>
            <ion-thumbnail id="choicecell" [dragula]='"bag"' [dragulaOptions]="options">
                <img src="assets/imgs/upps.png">
            </ion-thumbnail>
        </ion-col>
        <ion-col id="io" col-3 no-padding>
            <ion-thumbnail id="choicecell" [dragula]='"bag"' [dragulaOptions]="options">
                <img src="assets/imgs/sorprendido.png">
            </ion-thumbnail>
        </ion-col>
        <ion-col col-3 no-padding>
            <ion-thumbnail id="choicecell" [dragula]='"bag"' [dragulaOptions]="options">
                <img src="assets/imgs/lol.png">
            </ion-thumbnail>
        </ion-col>
    </ion-row>
</ion-grid>