<ion-grid no-padding style="width: 100%; height: 100%">
    <ion-row style="height: 8%;">
        <ion-col class="flex-col" style="height: 100%;">
          <div class="title-wrapper">
            <h1 no-margin class="side-menu-title">User Account</h1>
          </div>
        </ion-col>
      </ion-row>
  <ion-row style="height: 92%;">
    <ion-col style="height: 100%;" no-padding>
      <form style="height: 100%;width: 100%;" class="create-form" [formGroup]="createUserForm" (ngSubmit)="onSubmitCreateUser($event)">
        <ion-row class="label-row">
          <ion-col  class="label-col"no-padding>
            <ion-label no-margin>
              Username:
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="input-row">
          <ion-col class="input-col" col-12>
            <input [class.invalid]="!this.createUserForm.get('name').valid" class="ion-item-input input-form" style="height: 100%" type="text" formControlName="name"/>
          </ion-col>
        </ion-row>
        <ion-row style="height: 2%" >
          <ion-col *ngIf="!this.createUserForm.get('name').valid" col-12 no-padding class="invalid-tip" >
            <h5 style="font-size: 3vw; text-align: center" no-margin>Name Must Have Between 4 an 30 characters</h5>
          </ion-col>
          <ion-col *ngIf="errorHandlerServ.createAccErrorsObject.userExist" col-12 no-padding class="invalid-tip">
            <h5 class="error-tip" no-margin>{{errMsj}}</h5>
          </ion-col>
        </ion-row>

        <ion-row class="label-row">
          <ion-col no-padding>
            <ion-label no-margin>
              Password:
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="input-row">
          <ion-col class="input-col" col-12>
            <input [class.invalid]="!this.createUserForm.get('password').valid" class="ion-item-input input-form" style="height: 100%" type="password" formControlName="password"/>
          </ion-col>
        </ion-row>
        <ion-row style="height: 2%;" >
          <ion-col *ngIf="!this.createUserForm.get('password').valid" col-12 no-padding class="invalid-tip" >
            <h5 style="font-size: 3vw; text-align: center" no-margin>Password Must Have Between 4 a 8 Characters</h5>
          </ion-col>
          
        </ion-row>

        <ion-row class="label-row">
          <ion-col no-padding>
            <ion-label no-margin>
              Email Address: <!--<h5 no-margin *ngIf="!this.createUserForm.get('email').valid">invalid Email</h5>-->
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="input-row">
          <ion-col class="input-col" col-12>
            <input [class.invalid]="!this.createUserForm.get('email').valid" class="ion-item-input input-form" style="height: 100%" type="text" formControlName="email" placeholder="user@mail.com"/>
          </ion-col>
        </ion-row>
        <ion-row style="height: 2%;">
          <ion-col *ngIf="!this.createUserForm.get('email').valid" col-12 no-padding col-6 class="invalid-tip">
            <h5 style="font-size: 3vw; text-align: center" no-margin>Invalid Address</h5>
          </ion-col>
          <ion-col *ngIf="errorHandlerServ.createAccErrorsObject.emailExist" col-12 no-padding class="invalid-tip">
            <h5 class="error-tip" no-margin>{{errMsj}}</h5>
          </ion-col>
        </ion-row>

        <ion-row class="label-row">
            <ion-col no-padding>
              <ion-label no-margin>
                Birthday:
              </ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="input-row">
          <ion-col class="input-col" col-12>
            <ion-item>
              <ion-datetime formControlName="dob" displayFormat="MMMM/DD/YYYY" placeholder="Click To select your Birthday"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row style="height: 8%">
          <ion-col no-padding>
            <ion-item no-lines>
              <ion-checkbox></ion-checkbox>
              <ion-label  text-wrap style="font-size: 12px; padding-top: 2%">Keep Current Game Data</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row style="height: 8%">
          <ion-col no-padding>
            <ion-item no-lines>
              <ion-checkbox formControlName="useragre"></ion-checkbox>
              <ion-label text-wrap style="font-size: 12px; padding-top: 2%">I have read and accpet the Terms of Use and Privacy Policy</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row no-padding class="last-row"> 
          <ion-col no-padding style="height: 100%" class="flex-col" col-5 align-self-center>
            <button ion-button type="button" color="skip" class="borderSkip" round (click)="backToLoginPage()">Back</button>
          </ion-col>
          <ion-col no-padding style="height: 100%" class="flex-col" align-self-center>
            <button type="submit" ion-button large round class="borderCreate" color="gold" [disabled]="!createUserForm.valid">Create</button>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>