<div id="custom-sidenav" class="customSidebar" [style.right]="sidePos + '%'" [style.background-color]="sidebarOpacity" (click)="clickOnNav($event)">
  <div class="customSidebarButtons">
    <div style="height: 100%"></div>
    <button class="side-btn" *ngIf="isOpen" color="skipBorder" block ion-button (click)="closeNav()" icon-only>
      <ion-icon name="redo"></ion-icon>
    </button>
    <!--Settings Category-->
    <button class="side-btn" color="borderMainBtns" *ngIf="settingsBtnActive" ion-button block (click)="openSettingsCategory()" icon-only [class.active-sidebtn]="activeButtons[0]"
      [class.unactive-sidebtn]="!activeButtons[0]">
      <ion-icon name="settings"></ion-icon>
    </button>
    <button class="side-btn" color="borderMainBtns" *ngIf="settingsBtnActive && settingSubActive" (click)="openImportantInfoView()" ion-button
      block icon-only [class.active-sidebtn]="activeButtons[1]" [class.unactive-sidebtn]="!activeButtons[1]">
      <ion-icon name="information-circle"></ion-icon>
    </button>
    <!--User Category-->
    <button class="side-btn" color="borderMainBtns" *ngIf="userBtnActive" ion-button block (click)="openUserCategory()" icon-only [class.unactive-sidebtn]="!activeButtons[2]">
      <ion-icon name="contact"></ion-icon>
    </button>
    <button class="side-btn" color="borderMainBtns" *ngIf="userBtnActive && userSubActive" (click)="openTokensView()" ion-button block icon-only
      [class.unactive-sidebtn]="!activeButtons[3]">
      <ion-icon name="grid"></ion-icon>
    </button>
    <button class="side-btn" color="borderMainBtns" *ngIf="userBtnActive && userSubActive" (click)="openRankingView($event)" ion-button block icon-only
      [class.unactive-sidebtn]="!activeButtons[4]">
      <ion-icon name="medal"></ion-icon>
    </button>
  </div>
</div>

<!--VISTAS DE MENU A DESPLEGAR DEPENDIENDO DEL VALOR EL MENU ACTIVO ACTUAL!-->
<div class="sideNav no-scroll" [style.width]="navWidth + '%'">
  <!--Settings View!-->
  <ion-content *ngIf="fullyOpen" padding>
    <!--Configuraciones-->
    <settings *ngIf="currentActiveMenu == 'settings'"></settings>
    <!--IMPORTANT INFO!-->
    <important-information *ngIf="currentActiveMenu == 'settings-info'"></important-information>
    <!--User Login-->
    <login *ngIf="currentActiveMenu == 'user-login'" (toCreateUserComp)="openCreateUserView($event)" (toUserAccount)="setCurrentActiveMenu($event)"></login>
    <!--User Account-->
    <user-account *ngIf="currentActiveMenu == 'user-account'"></user-account>  
    <!--User Create-->
    <page-create-account *ngIf="currentActiveMenu == 'user-create'"
    (toLogin)="openUserCategory()"></page-create-account>
    <!--User Tokens-->
    <token-selector *ngIf="currentActiveMenu == 'user-tokens'"></token-selector>
    <!--User Ranking-->
    <ranking-statistics *ngIf="currentActiveMenu == 'user-rankings'"></ranking-statistics>
  </ion-content>

</div>