<!-- Generated template for the VrCustomSidemenuComponent component -->
<div class="customSidebar" [style.right]="sidePos + '%'" [style.background-color]="sidebarOpacity">
  <div class="customSidebarButtons">
    <button *ngIf="isOpen" block ion-button (click)="closeNav()" icon-only>
      <ion-icon name="redo"></ion-icon>
    </button>
    <!--Settings Category-->
    <button *ngIf="settingsBtnActive" ion-button block (click)="openSettingsCategory()" icon-only>
      <ion-icon name="settings"></ion-icon>
    </button>
    <button *ngIf="settingsBtnActive && settingSubActive" (click)="openImportantInfoView()" ion-button block icon-only>
      <ion-icon name="information-circle"></ion-icon>
    </button>
    <!--User Category-->
    <button *ngIf="userBtnActive" ion-button block (click)="openUserCategory()" icon-only>
      <ion-icon name="contact"></ion-icon>
    </button>
    <button *ngIf="userBtnActive && userSubActive" (click)="openTokensView()" ion-button block icon-only>
      <ion-icon name="grid"></ion-icon>
    </button>
    <button *ngIf="userBtnActive && userSubActive" (click)="openRankingView()" ion-button block icon-only>
      <ion-icon name="medal"></ion-icon>
    </button>
  </div>


</div>
<!--VISTAS DE MENU A DESPLEGAR DEPENDIENDO DEL VALOR EL MENU ACTIVO ACTUAL!-->
<div class="sideNav" [style.width]="navWidth + '%'">
  <!--Settings View!-->
  <ion-content no-padding>
    <ion-grid *ngIf="currentActiveMenu == 'settings'">
      <form #cfg="ngForm">
        <!--Titulo-->
        <ion-row text-center>
          <ion-col>
            <h1 class="side-menu-title">Settings</h1>
          </ion-col>
        </ion-row>
        <br>
        <!--Toggles-->
        <ion-row>
          <ion-col></ion-col>
          <ion-col col-5>
            <h2>Music</h2>
            <ion-toggle [(ngModel)]="music" name="music" (ionChange)="onToggle($event,'music')" color="secondary"></ion-toggle>
          </ion-col>
          <ion-col col-5>
            <h2>FX</h2>
            <ion-toggle [(ngModel)]="sfx" name="sfx" (ionChange)="onToggle($event,'sfx')" color="secondary"></ion-toggle>
          </ion-col>
        </ion-row>
        <!--Notification checkbox-->
        <br>
        <ion-row>
          <ion-col>
            <h4>Notifications</h4>
          </ion-col>
          <ion-col class="flex-col">
            <ion-checkbox name="notifications" [(ngModel)]="notifications" (ionChange)="onToggle($event,'notifications')"></ion-checkbox>
          </ion-col>
        </ion-row>
        <!--language-->
        <ion-row>
          <ion-col col-10 offset-3>

            <ion-select name="language" [(ngModel)]="currentLang" (ionChange)="onSelectChange($event)">
              <ion-option *ngFor="let language of languages" [value]="language">
                {{language}}
              </ion-option>
            </ion-select>

          </ion-col>

        </ion-row>
      </form>
      <!--info buttons-->
      <ion-row>
        <ion-col>
          <button color="emerald" class="borderInfButtons" block round ion-button>Official Website</button>
          <br>
          <button color="emerald" class="borderInfButtons" block round ion-button>Support</button>
        </ion-col>
      </ion-row>
      <!--Footer-->
      <br>
      <br>
      <ion-row>
        <h1>ACA VA EL LOGO DE VIRTUAL ROBOTS!</h1>
      </ion-row>
    </ion-grid>
    <!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--IMPORTANT INFO!-->
    <ion-grid *ngIf="currentActiveMenu == 'settings-info'" no-padding>
      <!--titulo-->
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-8 text-center>
          <h1 class="side-menu-title">Important Information</h1>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
      <!--botones-->
      <br>
      <br>
      <br>
      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col col-10 text-center>
          <button class="borderInfButtons" color="emerald" ion-button round block>Privacy Policy</button>
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      <br>
      <br>
      <br>
      <br>
      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col col-10 text-center>
          <button class="borderInfButtons" color="emerald" ion-button round block>User Agreement</button>
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      <br>
      <br>
      <br>
      <br>
      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col col-10 text-center>
          <button class="borderInfButtons" color="emerald" ion-button round block>Health and Safety Information</button>
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <ion-row>
        <ion-col text-center>
          ACA VA LOGO DE VR!
        </ion-col>
      </ion-row>
      <!--VR logo-->
    </ion-grid>
    <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--User Login-->
    <ion-grid *ngIf="currentActiveMenu == 'user-login'">
      <ion-row>
        <ion-col>
          <h1 text-center class="side-menu-title">User Account</h1>
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col align-self-start>
          <!--spacing-->
        </ion-col>
        <ion-col align-self-center col-11>


          <!--formulario aca-->
          <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin($event)">
            <ion-row>
              <!--<ion-item>-->
              <ion-label>
                Username:
              </ion-label>
              <!--</ion-item>-->
            </ion-row>
            <ion-row>
              <ion-item>
                <ion-input type="text" formControlName="username"></ion-input>
              </ion-item>
            </ion-row>

            <!--password-->
            <ion-row>
              <!--<ion-item>-->
              <ion-label>
                Password:
              </ion-label>
              <!--</ion-item>-->
            </ion-row>

            <ion-row>
              <ion-item>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
            </ion-row>

            <ion-row align-items-center>
              <p align="center">The username can only numbers & letters</p>
            </ion-row>
            <!--botones-->
            <ion-row justify-content-center>
              <button ion-button type="submit" round [disabled]="!loginForm.valid">Login</button>
            </ion-row>
          </form>
          <!--info-->
          <ion-row>
            <h6 align="center">
              Don't Have a Virtual Robot Account?
            </h6>
          </ion-row>
          <ion-row justify-content-center>
            <button ion-button round color="gold" class="borderCreate" (click)="openCreateUserView()">Create Account</button>
          </ion-row>
          <!---->

        </ion-col>
        <ion-col align-self-end>
          <!--spacing-->
        </ion-col>

      </ion-row>


    </ion-grid>
    <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--User Create-->
    <ion-grid *ngIf="currentActiveMenu == 'user-create'">
      <ion-row text-center>
        <ion-col>
          <h1 class="side-menu-title">User Account</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align-self-start>
          <!--spacing-->
        </ion-col>
        <ion-col align-self-center col-11>
          <div id="loginContainer" color="primary">

            <!--formulario aca-->
            <form [formGroup]="createUserForm" (ngSubmit)="onSubmitCreateUser($event)">
              <ion-row>
                <!--<ion-item>-->
                <ion-label>
                  Username:
                </ion-label>
                <!--</ion-item>-->
              </ion-row>

              <ion-row>

                <ion-item>
                  <ion-input type="text" formControlName="name"></ion-input>
                </ion-item>
              </ion-row>

              <!--password-->
              <ion-row>
                <!--<ion-item>-->
                <ion-label>
                  Password:
                </ion-label>
                <!--</ion-item>-->
              </ion-row>
              <ion-row>
                <ion-item>
                  <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
              </ion-row>

              <!--Email-->
              <ion-row>
                <!--<ion-item>-->
                <ion-label>
                  Email Address:
                </ion-label>
                <!--</ion-item>-->
              </ion-row>
              <ion-row>
                <ion-item>
                  <ion-input type="text" formControlName="email" placeholder="user@mail.com"></ion-input>
                </ion-item>
              </ion-row>

              <!--Birthday-->
              <ion-row>
                <ion-label>
                  Birthday:
                </ion-label>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-input type="text" value="" formControlName="day" maxlength="2" placeholder="DD"></ion-input>
                </ion-col>
                <ion-col>
                  <ion-input type="text" value="" formControlName="month" maxlength="2" placeholder="MM"></ion-input>
                </ion-col>
                <ion-col>
                  <ion-input type="text" value="" formControlName="year" maxlength="4" placeholder="YYYY"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-item no-lines>
                  <ion-checkbox></ion-checkbox>
                  <!--por ahora no hace nada-->
                  <ion-label text-wrap style="font-size: 12px">Keep Current Game Data</ion-label>
                </ion-item>
              </ion-row>
              <ion-row>
                <ion-item no-lines>
                  <ion-checkbox formControlName="useragre"></ion-checkbox>
                  <ion-label text-wrap style="font-size: 12px">I have read and accpet the Terms of Use and Privacy Policy</ion-label>
                </ion-item>
              </ion-row>
              <!--botones***************************************************************-->
              <ion-row justify-content-center>
                <ion-col col-5 align-self-center>
                  <button ion-button type="button" color="skip" class="borderSkip" round (click)="openUserCategory()">Back</button>
                </ion-col>
                <ion-col align-self-center>
                  <button type="submit" ion-button large round class="borderCreate" color="gold" [disabled]="!createUserForm.valid">Create</button>
                </ion-col>
              </ion-row>
            </form>
            <!--**********************************************************************-->
          </div>
        </ion-col>
        <ion-col align-self-start>
          <!--spacing-->
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--User Tokens-->
    <h1 *ngIf="currentActiveMenu == 'user-tokens'">User Tokens</h1>
    <!--User Tokens-->
    <h1 *ngIf="currentActiveMenu == 'user-rankings'">User Ranking</h1>
  </ion-content>

</div>