page-reward {
    .rewardPage{
        background-color: #b7b8bc;
    }

    div.wrapper{
        background-color: #ffffff;
        width: 40%;
        height: 60%;
        margin: auto;
        border-radius: 15px;
    }

    .comp-col{
        padding-left: 10%;
        padding-top: 3.8%;
        padding-bottom: 5%;
    }

    .spinnerContainer{
        background-color: #ffffff;
        border-radius: 15px;
        margin: auto;
        padding-bottom:5%; 
    }

    .spin-container{
        width: 100%;
        height: 100%;
    }

    .ruleta-img{
        display: block;
        margin: auto;
        width: 100%;
        height: 100%;
    }

  .tyl-text{

    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    font-size: 6vw;
    padding: 2%;
  }

  .spin-btn{
      margin: auto;
      height: 90%;
      width: 50%;
      font-size: 6vw;
      border-radius: 60px;
  }

  .roulette-container{
    height: 70vw;
  }
  #canvas{
      width: 100%;
      height:100%;
      margin: auto;
  }

}
