contact {
    .contact-grid{
        height: 15%;
        background-color: #FFF;
        margin: 0;
        padding: 0;
        border-bottom: solid thin #eaebed;
    }

    .contact-grid-notify{
        height: 15%;
        background-color: #f99a9a;
        margin: 0;
        padding: 0;
        border-bottom: solid thin #eaebed;
    }

    ion-grid{
        height: 100%;
    }

    ion-row{
        height: 100%;
        padding: 0;
        margin: 0;
    }

    ion-row ion-col{
        height: 100%;
    }

    div.status-wrapper{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    /*Connection Status*/
    .status-connect{
        background-color: green;
        border: solid thin #eaebed;
        border-radius: 50%;
        height: 20%;
        width: 30%;
    }

    .status-not-connect{
        background-color: #eaebed;
        border: solid thin gray;
        border-radius: 50%;
        height: 20%;
        width: 30%;
    }

    .status-connect-other{
        background-color: purple;
        border: solid thin #eaebed;
        border-radius: 50%;
        height: 20%;
        width: 30%;
    }

    .status-not-firend{
        background-color: #FFF;
        border-radius: 50%;
        border: solid thin #eaebed;
        height: 20%;
        width: 30%;
    }

    /*ranking*/
    .rank-nick{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    div.nickname-wrapper{
        width: 80%;
        font-weight: bold;
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /*chat & notification*/
    div.chat-notf-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    div.text-wrapper{
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /*action*/
    .action-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
