token-selector {
    .flex-col {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1{
        font-size: 50px;
        margin: 0;
    }

    .p1{
        color: map-get($colors , emerald);
    }

    .p2orBot{
        color: map-get($colors , fuxia);
    }
}
