<!-- Generated template for the TokenSelectorComponent component -->
<ion-grid class="token-selector-page">
  <ion-row class="header-section">
    <ion-col class="header-col flex-col" text-center>
      <img width="80px" height="80px" src="{{currentInspectedUrl}}" />
    </ion-col>
  </ion-row>
  <ion-row class="first-section">
    <ion-col class="first-section-col">
      <div class="icon-and-name">
        <img class="invert" left width="30%" height="100%" src="assets/imgs/medal-icon.png">
        <h2 no-margin style="height: 3vh" style="color: white;">Tokens Name</h2>
      </div>
      <p no-margin style="font-size: 2vh; height: 20%" style="color: white">Token description and benefits</p>
      <button no-margin no-padding style="height: 30%;width: 50%; font-size: 4vw" class="select-button" color="secondary" ion-button block (click)="onSelectTokens()">Select</button>
    </ion-col>
  </ion-row>



  <ion-row  class="second-section">
        <ion-col no-padding col-4 [class.cell-col]="!iphonex" [class.cell-col-x]="iphonex" class="flex-col" *ngFor="let ulr of curTokenUrlsPage; let i = index">
          <div style="width: 100%; height: 100%;"  [class.unInspectedBortder]="i!= currentSelection && i != currentInspectIndex" 
                [class.currentSelectedBorder]="i == currentSelection"
                [class.currentInspectBorder]="i == currentInspectIndex">
            <div text-center class="icon-wrapper" (click)="inspect(i)">
              <img width="100%" height="100%" src="{{curTokenUrlsPage[i]}}">
            </div>
          </div>
        </ion-col>
  </ion-row>


  <ion-row class="last-section">
    <ion-col col-3 no-padding class="first-section-col">
      <div class="icon-and-name">
        <h5 no-margin style="color: #FFF; font-size: 5vw">Owned</h5>   
      </div>
      <div class="icon-and-name">
        <div text-center style="color: #FFF" class="count-container">
          500
        </div>
      </div>
    </ion-col>
    <ion-col col-3 no-padding style="height: 100%;">
      <button no-margin no-padding style="height: 100%" color="light" block large ion-button icon-only clear>
        <ion-icon name="md-arrow-dropleft"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-3 no-padding style="height: 100%;">
      <button no-margin no-padding style="height: 100%" color="light" block large ion-button icon-only clear>
        <ion-icon name="md-arrow-dropright"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-3 no-padding class="first-section-col">
      <div class="icon-and-name">
        <h5 style="color: #FFF; font-size: 5vw" no-margin>Page</h5>
      </div>
      <div class="icon-and-name">
       <h5 style="color: #FFF; font-size: 5vw" no-margin>1/3</h5>
      </div>
    </ion-col>
  </ion-row>
  
</ion-grid>