token-selector {
    .token-selector-page{
        width: 100%;
        height: 100%;
    }


    .header-section{
        background-color: dimgray;
        height: 25%; //alto de la vista
        border-radius: 15px 15px 0 0;
    }

    .header-col{
        height: 100%;
    }

    .header-sections-store{
        background-color: dimgray;
        height: 30%; //alto de la vista
    }

    .first-section{
        background-color: map-get($colors, primary);
        height: 20%;
    }
    .first-section-col{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .icon-and-name{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
       /* align-items: center;*/
        position: relative;
        padding: 2px;
    }

    .owned-page-cont{
        position: absolute;
        bottom: 0;
    }

    .invert{
        -webkit-filter: invert(100%);
    }

    .select-button{
        border: 1px solid map-get($colors, gold);
        border-radius: 15px;
    }
    
    .second-section{
        background-color: #ffd09b;
        height: 45%;
        margin: 0;
        padding: 0;
    }
    
    .cell-col{
        height: 33%;
        padding: 1%;
        margin: 0;
    }

    .cell-col-x{
        height: 25%;
        padding: 1%;
        margin: 0;
    }


    .last-section{
        background-color: map-get($colors, createBorder);
        height: 10%;
        border-radius: 0 0 15px 15px;
    }

    .last-section-store{
        background-color: map-get($colors, createBorder);
    }

    .icon-wrapper{
        background-color: white;
        border-radius: 15px;
        border: solid thin grey;
        padding: 5px;
        width: 100%;
        height: 100%;
    }

    .count-container{
        background-color: gray;
        border-radius: 12px;
        width: 80%;
        height: 75%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .currentInspectBorder{
        border: green solid 5px;
        border-radius: 20px;
    }

    .unInspectedBortder{
        border: transparent solid 5px;
        border-radius: 20px;
    }

    .currentSelectedBorder{
        border: map-get($colors, fuxia) solid 5px;
        border-radius: 20px;
    }

    /*si rehuso este componente para la tienda*/
    .token-store{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    
}
