<ion-grid class="borderGrid" no-padding>
    <ion-row>
        <ion-col id="oo" col-3 no-padding>
            <ion-thumbnail>
                <img src="assets/imgs/enojado.png">
            </ion-thumbnail>
        </ion-col>
        <ion-col id="oi" col-3 no-padding>
            <ion-thumbnail>
                <img src="assets/imgs/enojado.png">
            </ion-thumbnail></ion-col>
        <ion-col id="oii" col-3 no-padding>
            <ion-thumbnail>
                <img src="assets/imgs/enojado.png">
            </ion-thumbnail>
        </ion-col>
        <ion-col id="oiii" col-3 no-padding>
            <ion-thumbnail>
                <img src="assets/imgs/enojado.png">
            </ion-thumbnail>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-3 no-padding>
            <ion-thumbnail>
                <img src="assets/imgs/enojado.png">
            </ion-thumbnail>
        </ion-col>
        <ion-col id="ioi" col-3 no-padding>
            <ion-thumbnail>
                <img src="assets/imgs/enojado.png">
            </ion-thumbnail>
        </ion-col>
        <ion-col id="io" col-3 no-padding>
            <ion-thumbnail>
                <img src="assets/imgs/enojado.png">
            </ion-thumbnail>
        </ion-col>
        <ion-col col-3 no-padding>
            <ion-thumbnail>
                <img src="assets/imgs/enojado.png">
            </ion-thumbnail>
        </ion-col>
    </ion-row>
</ion-grid>