<ion-grid>
    <ion-row>
        <ion-col col-3 no-padding>
            <ion-thumbnail>
                <img src="assets/imgs/enojado.png">
            </ion-thumbnail>
        </ion-col>
        <ion-col col-3 no-padding>
            <ion-thumbnail>
                <img src="assets/imgs/enojado.png">
            </ion-thumbnail></ion-col>
        <ion-col col-3 no-padding>
            <ion-thumbnail>
                <img src="assets/imgs/enojado.png">
            </ion-thumbnail>
        </ion-col>
        <ion-col col-3 no-padding>
            <ion-thumbnail>
                <img src="assets/imgs/enojado.png">
            </ion-thumbnail>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-3 no-padding>
            <ion-thumbnail>
                <img src="assets/imgs/enojado.png">
            </ion-thumbnail>
        </ion-col>
        <ion-col col-3 no-padding>
            <ion-thumbnail>
                <img src="assets/imgs/enojado.png">
            </ion-thumbnail>
        </ion-col>
        <ion-col col-3 no-padding>
            <ion-thumbnail>
                <img src="assets/imgs/enojado.png">
            </ion-thumbnail>
        </ion-col>
        <ion-col col-3 no-padding>
            <ion-thumbnail>
                <img src="assets/imgs/enojado.png">
            </ion-thumbnail>
        </ion-col>
    </ion-row>
</ion-grid>