page-withdra-reward {
    .withdraw-reward-page{
        background-color: aquamarine;
    }
    .reward-text{
        color: #ffffff;
        text-align: center;
        margin: 0;
        font-size: 9vh;
    }
    
    .continue-btn{
        border-radius: 30px;
    }

    .double-reward-btn{
        height: 80%;
        width: 50%;
        color: #ffffff;
        font-size: 6vw;
        border-radius: 30px;
    }

    .button-coll{
        margin: 0;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
}
