page-game {
    
    .portraits-col{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }
    
    .protrati{
        width: 45%;
        height:100%;
        background: gray;
    }



    
}
