coin-eola-container {
    .currency-wrapper{
        display: block;
        width: 90%;
        position: relative;
        background-color: gray;
        border-radius: 15px;
        margin: 0;
        padding: 0;
    }

    .ammount-container{
        display: block;
        text-align: center;
        color: white;
        padding: 2px;
    }

    .coin-container{
        position: absolute;
        left: -5px;
        top: -3px;
    }

    .coin-icon{
        width: 30px;
        height: 30px;
    }
}
