page-main-menu {
    $button-round-border-radius: 100px;
    .bg-main-menu-page{
        background-color: #ffcc00;
    }

    .menu-title{
        color: red;
        font-weight: bold;
        font-size: 35px;
    }

    .borderPlayer{
        border: 3px solid map-get($colors, borderPlayer);
    }

    .borderMainMenu{
        border: 3px solid map-get($colors, borderMainBtns);
    }

    .toolbar-background {
	    background-color: transparent;
    }
}
