<ion-content no-padding class="bg-page" padding>
  <div style="width: 100%; height: 5%; margin: 0"></div>
  <ion-grid id="loginContainer">
    <form style="height: 100%" [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
    <ion-row style="height: 4%;"></ion-row>

    <ion-row style="height: 8%;padding-top: 0;padding-bottom: 0; padding-left: 5%; padding-right: 5%">
      <ion-col style="height: 100%; padding: 0">
        <ion-label no-margin>
          Username:
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="height: 6.5%; padding-top: 0;padding-bottom: 0; padding-left: 5%; padding-right: 5%">
      <ion-col style="height: 100%; padding: 0">
          <input [class.invalid]="!this.createUserForm.get('name').valid" style="width: 100%; height: 100%" class="ion-item-input" type="text"formControlName="name"/>
      </ion-col>
    </ion-row>
    <ion-row style="height: 2%">
      <ion-col *ngIf="!this.createUserForm.get('name').valid" col-12 no-padding class="invalid-tip">
        <h5 style="font-size: 3vw; text-align: center" no-margin>Name Must Have Between 4 an 30 characters</h5>
      </ion-col>
    </ion-row>

    <ion-row style="height: 8%; padding-top: 0;padding-bottom: 0; padding-left: 5%; padding-right: 5%">
      <ion-col style="height: 100%; padding: 0">
        <ion-label no-margin>
          Password:
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="height: 6.5%; padding-top: 0;padding-bottom: 0; padding-left: 5%; padding-right: 5%">
      <ion-col style="height: 100%; padding: 0">
          <input [class.invalid]="!this.createUserForm.get('password').valid" style="width: 100%;  height: 100%" class="ion-item-input" type="password" formControlName="password"/>
      </ion-col>
    </ion-row>
    <ion-row style="height: 2%;" >
        <ion-col *ngIf="!this.createUserForm.get('password').valid" col-12 no-padding class="invalid-tip" >
          <h5 style="font-size: 3vw; text-align: center" no-margin>Password Must Have Between 4 a 8 Characters</h5>
        </ion-col>
      </ion-row>

    <ion-row style="height: 8%; padding-top: 0;padding-bottom: 0; padding-left: 5%; padding-right: 5%">
      <ion-col style="height: 100%; padding: 0">
        <ion-label no-margin>
          Email Address:
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="height: 6.5%; padding-top: 0;padding-bottom: 0; padding-left: 5%; padding-right: 5%">
      <ion-col style="height: 100%; padding: 0">
        <input [class.invalid]="!this.createUserForm.get('email').valid" style="width: 100%;  height: 100%" class="ion-item-input" type="email" formControlName="email" placeholder="user@mail.com"/>
      </ion-col>
    </ion-row>
    <ion-row style="height: 2%;">
        <ion-col  *ngIf="!this.createUserForm.get('email').valid" col-12 no-padding col-6 class="invalid-tip" >
          <h5 style="font-size: 3vw; text-align: center" no-margin>Invalid Address</h5>
        </ion-col>
      </ion-row>

    <ion-row style="height: 8; padding-top: 0;padding-bottom: 0; padding-left: 5%; padding-right: 5%">
      <ion-col style="height: 100%; padding: 0">
        <ion-label no-margin>
          Birthday:
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="height: 6.5%; padding-top: 0;padding-bottom: 0; padding-left: 5%; padding-right: 5%">
      <ion-col style="height: 100%; padding: 0 ">

          <ion-datetime class="ion-item-input flex-col" style="font-size: 3vh;height: 100%; " formControlName="dob" displayFormat="MMMM/DD/YYYY" placeholder="Click To select your Birthday"></ion-datetime>

      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5%; height: 5%; padding-bottom: 0; padding-left: 5%; padding-right: 5%">
      <ion-col style="height: 100%;" col-1 no-padding class="flex-col">
          <ion-checkbox formControlName="useragre"></ion-checkbox>
      </ion-col>
      <ion-col style="height: 100%;" col-11 no-padding class="flex-col">
          <h5 class="user-agree-text" no-margin>I have read and accpet the Terms of Use and Privacy Policy</h5>
      </ion-col>
    </ion-row>
    <!--buttons-->
    <ion-row style="height: 10%">
      <ion-col class="back-skip-col">
        <button ion-button color="skip" class="bsk-btn borderSkip" round (click)="toMainMenuPage()">Skip</button>
        <button ion-button color="danger" class="bsk-btn borderDanger" round (click)="backToLogin()">Back</button>
      </ion-col>
    </ion-row>
    <ion-row style="height: 12%">
      <ion-col class="flex-col">
        <button ion-button style="font-size: 3vh" type="submit" large round class="borderCreate" color="gold" [disabled]="!createUserForm.valid">Create</button>
      </ion-col>
    </ion-row>
  </form>
  </ion-grid>
</ion-content>