page-token-store {
    .no-scroll{
        overflow: hidden;
        height: 100%;
        background-color:#ffe6a3; 
    }

    .store-grid{
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .inspector-row{
        height: 40%;
        margin: 0;
        padding: 0; 
    }

    .token-inspector{
        background-color: dimgray;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .buyout-row{
        height: 25%;
        background-color: map-get($colors, primary );
    }

    .buyout-col{
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .name-wrapper{
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    div.name-wrapper p{
        font-size: 2.6vh;    
        text-align: center;
    }

    #buy-btn{
        border: solid 4px map-get($colors, gold );
    }

    .gallery-row{
        height: 50%;
        margin: 0;
        width: 100%;
        background-color: #ffe6a3;
        padding-top: 5%;
        display: flex;
        align-items: center;    
        padding-left: 2%;
        padding-right: 2%;
    }

    .icon-wrapper{
        height: 80%;
        width: 80%;
        background-color: white;
        border-radius: 15px;
        border: solid thin grey;
        padding: 5px;
    }

    div.paginator{
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .store-footer{
        display: flex;
        width: 100%;
        margin: 0;
        flex-direction: row;
    }

    .footer-row{
        background-color:#a6c1ed;
    }

    .footer-btn-wrapper{
        background-color: #ffe6a3;
        border-radius: 12px;
    }

}
