page-token-store {
    .no-scroll{
        overflow: hidden;
        background-color:#ffe6a3; 
    }

    .store-grid{
        height: 100vh;
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    .inspector-row{
        height: 25%;
        margin: 0;
        padding: 0;
        background-color: dimgray; 
    }

    .token-inspector{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .buyout-row{
        height: 15%;
        background-color: map-get($colors, primary );
    }

    .desc-col{
        height: 100%;
    }

    .name-wrapper{
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    
    #buy-btn{
        border: solid 4px map-get($colors, gold );
    }

    .gallery-row{
        height: 35%;
        background-color: transparent;
    }

    .paginator-row{
        height: 5%;
    }
    
    .paginator-col{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    ion-col.paginator-col h2{
        font-size: 3vh;
    }

    .icon-wrapper{
        height: 80%;
        width: 80%;
        background-color: white;
        border-radius: 15px;
        border: solid thin grey;
        padding: 5px;
    }
   

    .iphoneXpadding{
        padding-bottom: 5%;
     }

    .store-footer{
        display: flex;
        width: 100%;
        margin: 0;
        flex-direction: row;
    }

    .footer-row{
        background-color:#a6c1ed;
    }

    .footer-btn-wrapper{
        background-color: #ffe6a3;
        border-radius: 12px;
    }

}
