<ion-header>
  <information-bar></information-bar>
</ion-header>

<ion-content no-margin no-padding class="no-scroll">
  
  <ion-grid class="store-grid">
    <ion-row style="height: 10vh;"> <!--compensando el espacio dejado por la posicion fixeada del infobar-->

    </ion-row>
    <ion-row class="inspector-row">
      <ion-col class="token-inspector">
          <img width="80px" height="80px" src="{{currentToken}}">
      </ion-col>
    </ion-row>
    <ion-row class="buyout-row">
      <ion-col col-7 class="desc-col">
      <div class="name-wrapper">
        <img left width="20%" height="50%" src="assets/imgs/medal-icon.png">
        <h3 no-margin>Token Name</h3>
      </div>
      <div class="name-wrapper">
          <h5 style="font-size: 4vw; " no-margin>Description + Benefits</h5>
        </div>
    </ion-col>
      <ion-col class="desc-col flex-col" col-5>
          <button block id="buy-btn" round color="secondary" ion-button large>9999</button>
      </ion-col>
    </ion-row>
    <ion-row class="gallery-row">
      <!--<ion-col col-4 class="flex-col" *ngFor="let ulr of tokensUris; let i = index">-->
      <ion-col [class.gallery-col]="!iphonex"
      [class.gallery-col-x]="iphonex || deviceHeight > 800"
       class="flex-col" col-4 *ngFor="let ulr of tokensUris; let i = index">
        <div  class="icon-wrapper">
          <img width="100%" height="100%" src="{{tokensUris[i]}}">
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="paginator-row">
      <ion-col class="paginator-col" no-padding no-margin>
        <button ion-button icon-only clear>
          <ion-icon name="md-arrow-dropleft"></ion-icon>
        </button>
        <h2 no-margin>2/5</h2>
        <button ion-button icon-only clear>
          <ion-icon name="md-arrow-dropright"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

<ion-footer no-margin no-padding>
    <ion-grid no-margin no-padding>
      <ion-row class="footer-row">
        <div [class.iphoneXpadding]="iphonex" class="store-footer">
          <ion-col col-2 class="flex-col" text-center>
            <button round ion-button icon-only outline color="gold" (click)="backToMainMenu()">
              <ion-icon name="home"></ion-icon>
            </button>
          </ion-col>
  
          <ion-col col-5 text-center>
            <div class="footer-btn-wrapper">
              <button block outline ion-button round color="gold">
                Tokens
              </button>
            </div>
  
          </ion-col>
  
          <ion-col col-5 text-center>
            <div class="footer-btn-wrapper">
              <button block outline round ion-button color="gold">
                Gold
              </button>
            </div>
          </ion-col>
        </div>
      </ion-row>
    </ion-grid>
</ion-footer>