<ion-header>

  <ion-navbar>
    <ion-title>Character Selection</ion-title>
  </ion-navbar>

</ion-header>
  
<ion-content padding>
  <ion-grid >
    <ion-row >
      <ion-col > 
        <h1 text-center *ngIf="gameType == 'singleplayer'">Human vs Robot</h1>
        <h1 text-center *ngIf="gameType == 'local-multiplayer'">Human vs Human</h1>
      </ion-col>
    </ion-row>
    <!--Avatares-->
    <ion-row>
      <ion-col>
          <ion-thumbnail>
              <img src="assets/imgs/ollie_logo.png">
          </ion-thumbnail>
          <button ion-button small block>Random</button>
      </ion-col>
      <ion-col align-self-center>
        <h2 text-center>VS</h2> 
      </ion-col>
      <ion-col>
          <ion-thumbnail>
              <img src="assets/imgs/ollie_logo.png">
          </ion-thumbnail>
          <button ion-button small block>Random</button>
      </ion-col>
    </ion-row>
    <!--seleccion de personaje-->
    <ion-row>
      <ion-col>
          <grid-selector-component></grid-selector-component>
      </ion-col>
    </ion-row>
    <!--Botones dificultad-->
    <ion-row>
      <ion-col>
        <button ion-button small block color="secondary">Easy</button>
      </ion-col>
      <ion-col>
          <button ion-button small block color="gold">Medium</button>
      </ion-col>
      <ion-col>
          <button ion-button small block color="danger">Hard</button>
      </ion-col>
    </ion-row>
    <!--Seleccion de rondas-->
    <ion-row >
      <ion-col>
        <h2 text-center>Rounds</h2>
      </ion-col>
      <ion-col col-2>
        <button ion-button small>x1</button>
      </ion-col>
      <ion-col col-2>
          <button ion-button small>x2</button>
      </ion-col>
      <ion-col col-2> 
          <button ion-button small>x3</button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
        <ion-col align-self-center>
          <button ion-button 
          round 
          block
          [navPush]="mainMenuPage">Back</button>
        </ion-col>
        <ion-col align-self-center>
            <button ion-button 
            large
            block 
            round>Play</button>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
