<ion-content no-bounce padding>
  <ion-grid >
    <ion-row >
      <ion-col > 
        <h1 text-center class="charSelTitle" *ngIf="gameType == 'singleplayer'">Human vs Robot</h1>
        <h1 text-center class="charSelTitle" *ngIf="gameType == 'local-multiplayer'">Human vs Human</h1>
        <h1 text-center class="charSelTitle" *ngIf="gameType == 'online-multiplayer'">Human vs Human</h1>
      </ion-col>
    </ion-row>
    <!--Avatares-->
    <ion-row *ngIf="gameType !='online-multiplayer';else multiplayer_content">
      <!--<ion-col id="portraitselectorp1" col-4 style="height: 100px; background-color: gray" [dragula]='"bag"'>
        <ion-img *ngIf="portraitOne[0] != null && !isOverOne" style="width: 100%; height: 100%;" [src]="portraitOne[0]"></ion-img>
        <button ion-button small block color="fuxia">Random</button>
      </ion-col>-->
      <ion-col col-4>
        <div id="portraitselectorp1" style="width: 100%; height: 100px; background-color: dimgray" [dragula]='"bag"'>
            <img style="width: 100%; height: 100%;" *ngIf="portraitOne[0] != null && !isOverOne" [src]="portraitOne[0]">
        </div>
          <button ion-button small block color="fuxia" (click)="randPortraitSelectOne()">Random</button>
      </ion-col>
      <ion-col align-self-center col-4>
        <h2 style="transform: rotate(-20deg); font-weight: bold" text-center>VS</h2> 
      </ion-col>
      <!--directiva de dragula para contenedor drag an drop-->
      <ion-col col-4>
        <div id="portraitselectorp2ob" style="width: 100%; height: 100px; background-color: dimgray" [dragula]='"bag"'>
          <img style="width: 100%; height: 100%;" *ngIf="portraitTwo[0] != null && !isOverTwo" [src]="portraitTwo[0]">
        </div>
          <button ion-button small block color="fuxia" (click)="randPortraitSelectTwo()">Random</button>
      </ion-col>
    </ion-row>
    <!--falta agregar reglas aca!!!-->
    <ng-template #multiplayer_content>
      <ion-row>
          <ion-col></ion-col>
          <ion-col>
              <div id="portraitselectorp1" style="width: 100%; height: 100px; background-color: dimgray" [dragula]='"bag"'>
                  <img style="width: 100%; height: 100%;" *ngIf="portraitOne[0] != null && !isOverOne" [src]="portraitOne[0]">
              </div>
            <button ion-button small block color="fuxia" (click)="randPortraitSelectOne()">Random</button>
          </ion-col>
          <ion-col></ion-col>
      </ion-row>
    </ng-template>
    <!--seleccion de personaje-->
    <ion-row>
      <ion-col>
          <grid-selector-component 
          (pOneEmmiter)="updatePlayerOnePortrati($event)" 
          (pTwoOrBotEmmiter)="updatePlayerTwoOrBotProtrait($event)" 
          (isOverOneEmmiter)="setOverOnePortrait($event)"
          (isOverTwoEmmiter)="setOverTwoPortrait($event)"
          >
        </grid-selector-component>
      </ion-col>
    </ion-row>
    <!--Botones dificultad-->
    <ion-row *ngIf="gameType == 'singleplayer'">
      <ion-col>
        <button 
        ion-button  
        small block 
        color="secondary"
        [ngClass]="{easySel: difficulty=='easy'}" 
        (click)="onDifficultySelection('easy')">Easy</button>
      </ion-col>
      <ion-col>
          <button 
          ion-button  
          small 
          block color="gold"
          [ngClass]="{mediumSel: difficulty=='medium'}" 
          (click)="onDifficultySelection('medium')">Medium</button>
      </ion-col>
      <ion-col>
          <button 
          ion-button  
          small block 
          color="danger"
          [ngClass]="{hardSel: difficulty=='hard'}" 
          (click)="onDifficultySelection('hard')">Hard</button>
      </ion-col>
    </ion-row>
    <token-selector></token-selector>
    <!--Seleccion de rondas-->
    <ion-row >
      <ion-col>
        <h2 text-center>Rounds</h2>
      </ion-col>
      <ion-col col-2>
        <button 
        color="emerald" 
        ion-button 
        small
        (click)="onRoundSelection(1)" [ngClass]="{active: rounds==1, unactive: rounds!=1}">x1</button>
      </ion-col>
      <ion-col col-2>
          <button 
          color="emerald" 
          ion-button 
          small
          (click)="onRoundSelection(3)" [ngClass]="{active: rounds==3, unactive: rounds!=3}">x3</button>
      </ion-col>
      <ion-col col-2> 
          <button 
          color="emerald" 
          ion-button 
          small
          (click)="onRoundSelection(5)" [ngClass]="{active: rounds==5, unactive: rounds!=5}">x5</button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
        <ion-col align-self-center>
          <button ion-button 
          round 
          block
          color="danger"
          class="borderBack"
          (click)="onClickBack()">Back</button>
        </ion-col>
        <ion-col align-self-center>
            <button ion-button 
            large
            block 
            color="gold"
            class="borderPlay"
            round
            (click)="onClickPlay()">Play</button>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
