<ion-grid [class.settings-grid]="lauchedFromGame-grid" [class.fromGameBorder]="lauchedFromGame">
    <form style="height: 50%;" #cfg="ngForm">
      <ion-row text-center>
        <ion-col class="flex-col">
          <h1 no-margin class="side-menu-title">Settings</h1>
        </ion-col>
      </ion-row>
      <ion-row class="toogle-row">
        <ion-col text-center col-6>
          <h2 no-margin>Music</h2>
          <div class="toggle-container">
            <ion-toggle [(ngModel)]="music" name="music" (ionChange)="onToggle($event,'music')" color="secondary"></ion-toggle>
          </div>
      
        </ion-col>
        <ion-col text-center col-6>
          <h2 no-margin>FX</h2>
          <div class="toggle-container">
            <ion-toggle [(ngModel)]="sfx" name="sfx" (ionChange)="onToggle($event,'sfx')" color="secondary"></ion-toggle>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col *ngIf="!lauchedFromGame" class="notifications-col">
          <h4 no-margin>Notifications</h4>
          <ion-checkbox name="notifications" [(ngModel)]="notifications" (ionChange)="onToggle($event,'notifications')"></ion-checkbox>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!lauchedFromGame" style="height: 10%;">
        <ion-col col-12 class="flex-col">

          <ion-select name="language" [(ngModel)]="currentLang" (ionChange)="onSelectChange($event)">
            <ion-option *ngFor="let language of languages" [value]="language">
              {{language}}
            </ion-option>
          </ion-select>

        </ion-col>

      </ion-row>
    </form>

    <ion-row *ngIf="!lauchedFromGame">
      <ion-col>
        <button color="emerald" class="borderInfButtons" block round ion-button>Official Website</button>
        <br>
        <button color="emerald" class="borderInfButtons" block round ion-button>Support</button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!lauchedFromGame">
      <ion-col text-center>
          <h1>ACA VA EL LOGO DE VIRTUAL ROBOTS!</h1>
      </ion-col> 
    </ion-row>

    <ion-row *ngIf="lauchedFromGame">
      <ion-col col-12>
        <button ion-button block color="danger" (click)="leaveGame()">
          Leave Game
        </button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="lauchedFromGame">
      <ion-col class="flex-col" col-12 (click)="closeMenu()">
        <button style="width: 60%;" ion-button block color="gold">
          Resume
        </button>
      </ion-col>
    </ion-row>

  </ion-grid>